.signup{
  width: 80dvw;
  height: 60dvh;
  position: absolute;
  left: 0;right: 0;top: 0;bottom: 0;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.signup-pic{
  width: 25dvw;
  height: 25dvw;
  border-radius: 1rem;
  margin: 2%;
  cursor: pointer;
  transition: all 0.3s ease;
}
.signup-pic:hover{
  transform: scale(1.05);
}
.login-form{
  height: 60dvh;
  width: 30dvw;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
input{
  width: 20dvw!important;
}
.login{
  color: black;
  background-color: rgb(19, 222, 19);
  width: 5dvw;
  height: fit-content;
  padding: 1%;
  font-size: 1.5em;
  border-radius: 0.5rem;
  font-weight: bolder;
}