/* Add this to your existing CSS or create a new CSS file */

/* Container for summary-card, bike-details-content, and date-section */
.summary-card {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: 13.83%;
  margin-top: 75px;
  font-size: large;
  
  width: 90dvh;
  border-radius: 8px; /* Optional: Add border radius for rounded corners */
 
}
.rating-card{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: 13.83%;
 
  font-size: large;
  border-radius: 8px;
}
.rate-card .review-item {
  margin-bottom: 10px; /* Add space below each review item */
}
.checkout-card{
  margin-top: 75px;
  font-size: large;
  width: 60dvh;
  border-radius: 8px; 
  margin-left: 5%;
  color: black;
 
 
}
.checkout-card p{
  color:black;
}

/* Style for bike-details-content */
.bike-details-content {
  flex: 1; /* Take up remaining space */
  padding: 10px; /* Adjust as needed */
}

/* Style for date-section */
.date-section {
  flex: 1; /* Take up remaining space */
  padding: 10px; /* Adjust as needed */
}

/* Container for important-card and checkout-card */
.payment-page {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 20px; /* Add margin for separation */
}


input[type = "text"]{
  width: 100%;
  padding: auto;
}
.payment-parent{
  display: flex;
 
  height: min-content;
  margin-top: 75px;
  align-items: flex-start;
 
  
}
.bike-details-content img{
  
  width: 100%;
}

/* Responsive layout adjustments for smaller screens */
@media (max-width: 768px) {
  .payment-parent {
    display: flex;
    flex-direction: column; /* Stack elements vertically on smaller screens */
  }

  .payment-page {
    flex-direction: column; /* Stack cards vertically on smaller screens */
  }
  input[type = "text"]{
    width: 80%;
    padding: auto;
  }
  .checkout-card{
    margin-right: 0; /* Remove margin between cards on smaller screens */
    width: 90dvw;
    transition: all 0.3s ease;
    padding: 2%;
    margin-top: 25px;
    margin-left: 8.33%;
  }
  
  .summary-card {
    margin-right: 0; /* Remove margin between cards on smaller screens */
     width: 90dvw;
     transition: all 0.3s ease;
     padding: 2%;
     margin-left: 8.33%;
  }
  .rating-card{
    margin-left: 8.33%;
    width: 90dvw;
    margin-right: 0;
    transition: all 0.3s ease;
   
    margin-top: 25px;
  }
  .rating-card .rate-card{
    width: 90dvw;
  }
}
.bike-date{
  display: flex;
  align-items: center;
  top: 75px;
}

