.add{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h3 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .addbike-form {
    width: 100%;
    max-width: 500px;
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .addbike-form div {
    margin-bottom: 15px;
  }
  label {
    font-size: 15px;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="file"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ced4da;
    border-radius: 4px;
  }
  
 .addbike-button {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    font-size: 16px;
    background-color: #343a40;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
 .addbike-button:hover {
    background-color: #23272b;
  }
  
  /* Responsive Styles */
  @media (max-width: 768px) {
    .addbike-form {
      max-width: 100%;
    }
    .addbike-form div {
        margin-right: 0;
      }
      
      label, input {
        width: 100%;
        margin-right: 0;
      }
  }
  