.social-logo{
   width: 3em;
}
.footer-container{
   background-color: black;
   color: #FF8400;
   height: -moz-fit-content;
   height: fit-content;
   padding: 2%;
   display: flex;
   width: 100dvw;
   align-items: center;
   justify-content: space-around;
   flex-wrap: wrap;

}
.social-media{
   text-align: center;
   width: fit-content;
   display: flex;
   align-items: center;
   justify-content: space-around;
}
.social-media a{
   margin: 1em;
}
.other-media{
   display: flex;
   flex-direction: column;
}
.other-media a{
   color: white;
   margin: 1%;
   font-size: 2em;
   font-weight: bold;
}
.social-footer{
   width: fit-content;
   margin: 1%;
   text-align: center;
}
.social-footer>*{
   margin: 1em 0em;
}
.social-footer h2{
   text-decoration: underline;
}